body {
    margin: 0;
}

.header {
    background-color: aqua;
    .header-main {
        display: flex;
        justify-content: space-between;
        .list-inline {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-right: 30px;
            li {
                padding-right: 30px;
            }
        }
    }
}
