<div class="explan-area">
    <div class="">
        <h3>透析とは？</h3>
        <p>腎臓は、体液のバランスを一定に保つため、血液をろ過して尿という形で老廃物や水分などを排泄しています。<br>そのため、腎機能が衰えることにより、身体に余分な水分と老廃物が溜まってしまい、結果、貧血や高血圧、尿毒症など様々な症状が現れます。<br>透析治療では、主にこういった身体に溜まった水分と老廃物をダイアライザー(人工腎)で除去を行います。</p>
        <h3>腎臓とは?</h3>
        <p>腎臓は体の腰のよりやや高い位置の背中側に、背骨を挟んで左右1個ずつある臓器です。形状はソラマメのような形をしていて大きさはこぶし大ほどです。<br>主な働きとしては、腎臓内を通過した血液をろ過、さらに過剰な水分を吸収して、除去した老廃物及び過剰な電解質と共に尿として体外へ排出する役目があります。</p>
        <h3>透析治療について</h3>
        <p>透析治療には、主に血液浄化と腹膜透析の2種類があります。</p>
        <%= link_to "食事療法について", dialysis_food_meal_manage_path %>
    </div>
</div>
