<!-- HEADER -->
<div class="header clearfix"><!-- clearfixは要素浮かす -->
  <div class="title-area">
    <h1 class="title">透析飯</h3>
  </div>
  <div class="header-list">
    <ul class="list-inline">
      <li>透析とは</li>
      <li>ログイン</li>
    </ul>
  </div>
</div>
