<!-- HEADER -->
<div class="header clearfix"><!-- clearfixは要素浮かす -->
  <div class="header-main">
    <div class="title-area">
      <h1 class="title">透析飯</h3>
    </div>
    <div class="header-list">
      <ul class="list-inline">
        <li><%= link_to "透析とは", dialysis_food_tops_path %></li>
        <li><%= link_to "top", dialysis_food_root_path %></li>
        <li>ログイン</li>
      </ul>
    </div>
  </div>
</div>
